$danger-base-color: #cd1b2b;
$light-base-color: #ffffff;
$gray-color-base: #949494;
$dark-base-color: #252525;
$dark-strong-color: #191414;
$main-color: #ed215d;

$main-font-family: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$base-border-radius: 4px;

$base-offset: 8px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$z-index-header: 20;
$z-index-notification: 30;
$header-size: $base-offset * 8;