$light-base-color: #ffffff;
$dark-base-color: #1a1d2c;
$main-color: #ed215d;

$main-font-family: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$base-border-radius: 4px;

$base-offset: 8px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;