@import '@src/global-styles/variables.scss';

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 290px;
  padding-top: $base-offset * 2;
  padding-bottom: $base-offset * 2;
}

.user__image {
  $size: 70px;

  display: block;
  height: $size;
  width: $size;

  border: 8px solid lighten($dark-base-color, 5%);
  border-radius: 50%;
  box-shadow: 0px 0px 40px -1px rgba(0, 0, 0, .6);
}

.user__name {
  font-weight: $font-weight-bold;
}