@import '@src/global-styles/variables.scss';

.logo {
  position: relative;
  z-index: 1;

  display: inline-block;

  color: $light-base-color;
  font-weight: $font-weight-bold;
}

.logo__word {
  position: absolute;
  top: 0;
  z-index: 1;
}

.logo__cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  border-style: solid;
  border-color: $main-color;
}
